{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    {% if not recipes %}
      <p class="no-articles">There are currently no recipes available.</p>
    {% else %}
      <section id="catalogue">
      {% for recipe in recipes %}
        <div class="recipe-card">
          <div class="image-wrap">
              <img src="{{ recipe.image_url|default:'/static/images/default_recipe_img.png' }}" alt="recipe image" />
          </div>
          <h3>{{ recipe.title}}</h3>
          <h1>Cooking time: {{ recipe.cooking_time }}min.</h1>
          <h1>{{ recipe.instructions|slice:":35" }}</h1>
          <div class="details-buttons">
            <a href="{% url 'details_recipe' recipe.id %}" class="details-btn">Details</a>
          </div>
        </div>

      {% endfor %}
      </section>
        
    {% endif %}
{% endblock %}